@media print {
	.print-hide {
		display: none !important;
	}

	#tags {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: left;
	    align-items: flex-start;
	}

	.tag {
		flex: 0 0 75mm;
		width: 75mm;
		padding: 5mm;
		border: 1px solid black;
		font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
		line-height: 14pt;
		font-size: 10pt;
		break-inside: avoid;
		box-sizing: border-box;
	}

	.title {
		font-weight: 600;
		font-style: italic;
	}

	 .price{
		font-weight: 600;
	}
}